* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'BubblegumSans';
    src: url("../font/BubblegumSans-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');


body {
    margin: 0%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(59, 59, 59);
}

h1, h2, h3, h4, h5, h6, i, p {
    margin: 0%;
}

span{
    font-weight: 300;
    font-size: 0.7rem;
}

@media (min-width: 470px){
    span{
        font-size: 1rem;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 19, 19);
    color: rgb(228, 228, 228);
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 0 5px 1px #000000bf
}

@media (min-width: 470px){
    header {
        flex-direction: row;
    }
}

header h1 {
    margin-bottom: 1.5vh;
    font-family: 'BubblegumSans';
    letter-spacing: 3px;
}

.search-container{
    display: flex;
    gap: 3px;
}

input{
    font-size: 1rem;
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color:  rgb(228, 228, 228);
}

.search-btn{
    padding: 4px 7px;
    border-radius: 3px;
    background-color:  rgb(228, 228, 228);
    border: none;
    cursor: pointer;
}

.search-btn:hover{
    color: rgb(6, 175, 0);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-container {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2vw;
}

@media (min-width: 470px){
    .location-container {
        font-size: unset;
    }
}

.location-container h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    gap: 0.5vh;
}

.weather-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 132, 255, 0.322);
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 5px;
    gap: 0.5vh;
}

.location-container>*:not(h4) {
    box-shadow: 0 0 3px 1px #0000002e;
    padding: 20px;
    height: 15vh;
    flex: 1;
}

.weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-icon {
    position: absolute;
    right: 4vw;
    height: 50px;
    width: 50px;
}

.map-container {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    height: 60vh;
    width: 100%;
    gap: 1vh;
}

.map {
    width: 100%;
    height: 100%;
}

.table-container {
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    padding: 1vw;
    width: 100%;
}

@media (min-width: 470px){
    .table-container {
      font-size: unset;
    }
}

.table-container th {
    background-color: rgba(184, 184, 184, 0.637);
}

.table-container td, th {
    text-align: center;
    background-color: rgba(184, 184, 184, 0.349);
    padding: 5px;
    border-radius: 4px;
}

.table-container button {
    border: none;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.fa-trash-alt:hover {
    color: red;
}

.fa-search-location:hover {
    color: rgb(6, 175, 0);
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-location-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.copy-location-btn:hover {
    color: rgb(3, 148, 3);
}

.fa-copy {
    margin: 5px;
}